
.background {margin: 0 auto;
	width: 570px;
	height: 570px;
 background-image: url("../img/fon.jpg");
 background-color: #ebf4f4;
	}


.box1 {
	display: inline-block;
	width: 320px;
	height: 55px;
	margin-top: 50px;
	background-color: #fff;
}

.box2 {
	display: inline-block;
	width: 320px;
	height: 55px;
	
	background-color: #ff432f;
}