body {
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
}

h2 {
	font-weight: 100;
	text-align: center;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 15px;
	
	

}
.image {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
}
.image-one {
	background: url(../img/1.jpg) center no-repeat;
	background-size: cover;
}
.image-two {
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
}
.image-three {
	background: url(../img/3.jpg) center no-repeat;
	background-size: cover;
}
.image-four {
	background: url(../img/4.jpg) center no-repeat;
	background-size: cover;
}

.image:hover {
filter: brightness(40%);
 
}



.button-one {
	border: none;
	font-weight: 700;
	font-size: 10px;
 color: white;
 padding: .8em 1em calc(.8em + 3px);
 border-radius: 3px;
 background: rgb(64,199,129);
 transition: 0.1s;
}

.button-one:hover {
	 box-shadow: -5px -5px rgb(53,167,110) inset;
 
}

.button-two {
	display: inline-block;
 color: white;

 padding: .5em 2em;
 border: none;
 border-width: 2px 0;
 border-style: solid none;
 border-color: #FDBE33 #000 #D77206;
 border-radius: 6px;
 background: linear-gradient(#F3AE0F, #E38916) #E38916;
 transition: 0.2s;
}



.button:hover {
	font-size: 2rem;
	 

}


a {	
	font-size: 15px;
	display: block;
	color: black;
 text-decoration: none;
 width: 100%;
 text-align: center;
 
}

a::before {
	content: "   ";
	display: block;
	width: 100%;
	height: 1px;
	background-color: red;
	transform: scaleX(0);
	transition: all 0.4s;
	transform-origin: 100%;
}

a::after {
	content: "   ";
	display: block;
	width: 100%;
	height: 1px;
	background-color: green;
	transform: scaleX(0);
	transition: all 0.4s;
	transform-origin: 0%;
}

a:hover::before {
transform: scaleX(1);
}

a:hover:after {
transform: scaleX(1);

}